<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<WorkingPath>../../</WorkingPath>
	<Generators>
		<Generator name="Load Procedures" file="../../Generators/LoadProcedure.xsl" output="Load Procedures"/>
		<Generator name="Constraints" file="../../Generators/Constraints.xsl" output="Star"/>
		<Generator name="Star Schema" file="../../Generators/StarSchema.xsl" output="Star"/>
		<Generator name="Stage Schema" file="../../Generators/StageSchema.xsl" output="Stage"/>
		<!--<Generator name="SSIS" file="../../Generators/SSIS.xsl" output="SSIS"/>-->
		<Generator name="Init Stage" file="../../Generators/InitStage.xsl" output="Stage"/>
		<!--<Generator name="QlikView Script" file="../../Generators/QlikScript.xsl" output="QlikView Script"/>-->
	</Generators>
</Configuration>